body{
  background-image: url("../../images/sushi_background.jpg");
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
